<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
</head>

<body>
  <%- include('partials/header'); %>

    <h1>
      <%= title %>
    </h1>
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Função</th>
          <th>Registro de Ponto</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>

    <%- include('partials/footer'); %>
</body>

</html>