<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
</head>

<body>

  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/employees/maintence">Cadastro</a></li>
      </ul>
    </nav>
  </header>