<header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/employees">Funcionários</a></li>
        <li><a href="/frequency">Registros de Ponto</a></li>
      </ul>
    </nav>
  </header>
  